<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>World</key>
	<dict>
		<key>width</key>
		<integer>3</integer>
		<key>height</key>
		<string>2</string>
		<key>wall</key>
		<array>
			<dict/>
		</array>
	</dict>
	<key>Initial</key>
	<dict>
		<key>Karel</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>Facing</key>
			<string>east</string>
		</dict>
		<key>Beeper</key>
		<array>
			<dict>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>1</integer>
				<key>count</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
